# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtual Environment
venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log

# Other
.env
