# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtual Environment
venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log

# Other
.env

# React Frontend - deploymate-ui
deploymate-ui/node_modules/
deploymate-ui/.env
deploymate-ui/build/
deploymate-ui/.DS_Store
deploymate-ui/npm-debug.log*
deploymate-ui/yarn-debug.log*
deploymate-ui/yarn-error.log*
